body {
  font-family: "Open Sans", sans-serif;
}

nav span, nav li{
  cursor: pointer;
}

input[type="text"], input[type="number"], input[type="date"], input[type="time"]{
  width: 100%;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
  background-image: url(../public/bg.jpg);
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.row {
  margin: 25px 0;
}

#createBet{
  display:none;
}
#joinBet{
  display: none;
}
#results{
  display: none;
}
